    {{!-- {{> all }} --}}

    <!--hr on top-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center mr-2">
                    <div class="col-12">
                        <h1 style="text-align: center;">EDITOR</h1>
                        <hr style="width: 100%; border: 10px solid #051e58;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Stories From Database -->
{{#each results}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="text-right text-secondary">
                                <span class="badge badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">NEW</span>
                                <span class="text-muted" style=" font-weight: lighter;">{{this.post_date}}</span>
                            </div>
                            {{!-- <a href="#" data-toggle="modal" data-target="#approve"><i class="fa fa-share-alt fa-lg text-muted p-1"></i></a> --}}
                            {{#if this.post_approval}}
                                <span class="badge badge-danger p-2" style=" font-weight: lighter;">APPROVED</span>
                            {{else}}
                                <a href="#" data-toggle="modal" data-target="#approve"><span class="badge badge-success p-2" style=" font-weight: lighter;">APPROVE</span></a>
                            {{/if}}
                        </div>
                    </div>
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            {{#if this.image_file}}
                                <img class="img-fluid card-img" src="data:image/*;base64,{{this.image_file}}"  style="">
                            {{else}}
                                <img class="img-fluid card-img" src="images/check3.jpg" alt="image" style="">
                            {{/if}}
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h3 class="card-title" style="color: blue;">{{this.post_title}}</h3>
                            <h6 style="font-weight: bold;" class="d-flex justify-content-between align-items-center">
                                <span >
                                    <i class="fa fa-edit"></i> Story by {{this.surname}}  {{this.firstname}}
                                </span>
                                {{#if this.profile_photo}}
                                    <img src="data:image/*;base64,{{this.profile_photo}}"  class="rounded-circle mr-3" style="height: 36px; width: 40px;">
                                {{else}}
                                    <img src="images/avatarT.jpg" class="rounded-circle mr-3" style="height: 36px; width: 40px;">
                                {{/if}}
                            </h6>
                            <p style="white-space: pre-line;">
                                {{this.paragraph}}
                                <a href="/story/?id={{this.post_id}}" class="btn btn-outline-primary">see full story</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- approve modal -->
    <div class="modal fade" id="approve">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Approve Story</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Are you sure you want to approve this story?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <form action="/auth/approve" method="post">
                        <span style="display: none;">
                            <input type="text" name="id" value="{{this.post_id}}" class="form-control">
                        </span>
                        <button type="submit" class="btn btn-success">YES</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end of approve modal -->
{{/each}}

    
