    <head>
        <link rel="shortcut icon" href="images/campusweeklyfavicon.png" type="image/x-icon">
    </head>
{{> all }}

{{#each results}}

    <!--hr on top-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center mr-2">
                    <div class="col-12">
                        <h1 style="text-align: center; color: blue;">{{this.post_title}}</h1>
                        <hr style="width: 100%; border: 10px solid #051e58;">
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Two column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center m-2">
                <div class="col-xl-2 col-12"></div>
                <div class="col-xl-8 col-12">
                    <div class="card">
                        <div class="card-body">
                            
                            
                            <div style="margin-bottom: 10px;">
                                {{#if this.image_file}}
                                    <img src="data:image/*;base64,{{this.image_file}}"  class="d-block w-100" alt="User Profile" >
                                {{else}}
                                    <img src="images/avatarT.jpg" width="50" class="d-block w-100" alt="User Profile" >
                                {{/if}}
                                <div style="margin-top: 15px;">
                                    <div style="font-weight: bold;" class="d-flex justify-content-between align-items-center">
                                        <span style="color: blue;">
                                            <i class="fa fa-edit"></i> Story by {{this.surname}}  {{this.firstname}}
                                        </span>
                                        {{#if this.profile_photo}}
                                            <img src="data:image/*;base64,{{this.profile_photo}}"  class="rounded-circle mr-3" alt="User Profile" style="height: 46px; width: 50px;">
                                        {{else}}
                                            <img src="images/avatarT.jpg" width="50" class="rounded-circle mr-3" alt="User Profile" style="height: 46px; width: 50px;">
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="row padding ml-1" style="display: flex; flex-direction: column;">
                                <p style="white-space: pre-line;">
                                    {{this.paragraph}}
                                </p>                              
                                            
                            </div>              

                     
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-12"></div>
            </div>
        </div>
    </div>
</div>
{{/each}}

 

