   <!--hr on top-->
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center mr-2">
                    <div class="col-12">
                        <h1 style="text-align: center;">USER ACCOUNT</h1>
                        <hr style="width: 100%; border: 10px solid #051e58;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cards -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                        {{#if message}}
                            <div class="btn btn-block text-uppercase font-weight-bold text-light bg-info py-2 ">
                                <h4>{{message}}</h4> 
                            </div>
                        {{/if}}
                    <div class="row  mb-5">
                        <!-- Update Profile -->
                        <div class="col-xl-3 col-sm-6 p-2">
                            <form action="/auth/update" method="post">       
                                <div class="card card-common">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>Update Profile</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div >
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span class="mr-2 pb-2" style="font-weight: bold;color: gray;">SEX:</span>
                                                <select name="sex" class="form-control py-2 mb-2" >
                                                    <option value=""></option>
                                                    <option value="Female">Female</option>
                                                    <option value="Male">Male</option>
                                                </select>                                          

                                            </div>
                                            <input type="date" name="date" class="form-control py-2 mb-2" placeholder="Date of Birth">                                           
                                            <input type="text" name="phoneNumber" class="form-control py-2 " placeholder="Phone Number">                                           
                                        </div>
                                    </div>
                                    <div class="card-footer text-secondary">
                                        <input type="submit" class="btn btn-block text-uppercase font-weight-bold text-light bg-info py-2 ">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end of Update Profile -->

                        <!-- Edit Profile Photo -->
                        <div class="col-xl-3 col-sm-6 p-2">
                            <form action="/auth/upload" method="post" enctype="multipart/form-data">       
                                <div class="card card-common">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>Edit Profile Photo</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center ">
                                            <span>Current Photo</span>
                                            {{!-- {{#each rows}}
                                                {{#if this.profile_photo}}
                                                    <img src="data:image/*;base64,{{this.profile_photo}}"  class="rounded-circle mr-3" alt="User Profile" style="height: 46px; width: 50px;">
                                                {{else}}
                                                    <img src="images/avatarT.jpg" width="50" class="rounded-circle mr-3" alt="User Profile" style="height: 46px; width: 50px;">
                                                {{/if}}
                                            {{/each}} --}}
                                            <img class="rounded-circle mr-3 imgPreview1"  style="height: 46px; width: 50px; background-color: rgb(156, 156, 156);;">
                                            {{!-- <img id="imgPreview" src="" alt="Preview"> --}}
                                        </div>
                                        <div class="mt-4 pt-3">
                                            <input type="file" class="form-control p-1 mt-2" name="sampleFile" id="myFileInput" accept="image/*" />                                            
                                        </div>
                                    </div>
                                    <div class="card-footer text-secondary">
                                        <input type="submit" class="btn btn-block text-uppercase font-weight-bold text-light bg-info py-2 ">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end of Edit Profile Photo -->

                        <!-- Edit Password -->
                        <div class="col-xl-3 col-sm-6 p-2">
                            <form action="/auth/editPassword" method="post" >       
                                <div class="card card-common">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>Edit Password</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div >
                                            <input type="password" name="currentPassword" class="form-control py-2 mb-2" placeholder="Current Password">                                           
                                            <input type="password" name="newPassword" class="form-control py-2 mb-2" placeholder="New Password">                                           
                                            <input type="password" name="confirmPassword" class="form-control py-2 " placeholder="Confirm New Password">                                           
                                        </div>
                                    </div>
                                    <div class="card-footer text-secondary">
                                        <input type="submit" class="btn btn-block text-uppercase font-weight-bold text-light bg-info py-2 ">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end of Edit Password -->

                        <!-- Edit Name -->
                        <div class="col-xl-3 col-sm-6 p-2">
                            <form action="/auth/editName" method="post">       
                                <div class="card card-common">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>Edit Name</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div >
                                            <input type="text" name="surname" class="form-control py-2 mb-2" placeholder="Surname">                                           
                                            <input type="text" name="firstname" class="form-control py-2 mb-2" placeholder="First Name">                                           
                                            <input type="text" name="username" class="form-control py-2 " placeholder="Username">                                           
                                        </div>
                                    </div>
                                    <div class="card-footer text-secondary">
                                        <input type="submit" class="btn btn-block text-uppercase font-weight-bold text-light bg-info py-2 ">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end of Edit Name -->

                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of cards -->

    <!--User Profile-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="card" style="margin-bottom: 10px;">
                    {{#each rows}}
                    <div class="row padding card-body align-items-center">
                        <div class="col-lg-4">
                            {{!-- {{#if this.profile_photo}}
                                <img class="img-fluid card-img" src="data:image/*;base64,{{this.profile_photo}}" alt="User Profile" style="">
                            {{else}}
                                <img class="img-fluid card-img" src="images/avatarT.jpg" alt="User Profile" style="">

                            {{/if}} --}}
                            {{!-- <img class="img-fluid card-img imgPreview" src=""  style="background-color: blue;"> --}}
                            <img class="imgPreview2" style="height: 300px; width: 100%; background-color: rgb(156, 156, 156);">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <h4 class="card-title">USER PROFILE</h4>
                            <p class="card-text d-flex justify-content-between">
                                <span style="font-weight: bold;">
                                    <i class="fa fa-user"></i> NAME: 
                                </span>
                                <span>
                                    {{this.surname}}  {{this.firstname}}
                                </span>
                            </p>
                            <p class="card-text d-flex justify-content-between">
                                <span style="font-weight: bold;">
                                    <i class="fa fa-user"></i> SEX: 
                                </span>
                                <span>{{this.sex}} </span>
                            </p>
                            <p class="card-text d-flex justify-content-between">
                                <span style="font-weight: bold;">
                                    <i class="fa fa-user"></i> Date of Birth: 
                                </span>
                                <span>{{this.date_of_birth}}  </span>
                            </p>
                            <p class="card-text d-flex justify-content-between">
                                <span style="font-weight: bold;">
                                    <i class="fa fa-user"></i> Email: 
                                </span>
                                <span>{{this.email}}  </span>
                            </p>
                            <p class="card-text d-flex justify-content-between">
                                <span style="font-weight: bold;">
                                    <i class="fa fa-user"></i> Phone number: 
                                </span>
                                <span>{{this.phone_number}}  </span>
                            </p>
                            <p class="card-text d-flex justify-content-between">
                                <span style="font-weight: bold;">
                                    <i class="fa fa-user"></i> Username: 
                                </span>
                                <span>{{this.username}}  </span>
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>





    
     